.contenedor {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-content: center;
  align-items: center;
  /* justify-content: flex-end; */
  background-color: rgb(70, 116, 224);
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.contenedor>div {
  background-color: #f41717;
  color: #fff;
  width: 100px;
  height: 75px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 1.85rem;
  order: 3;
  /* flex-grow: 1; */
}

#caja2 {
  height: 150px;
  order: 2;
  flex-basis: 200px
}

#caja5{
  order: 1;
  flex-grow: 5;
  flex-shrink: 0;
}

#caja7{
  align-self: flex-start;
}

.centrado{
  width: 100%;
  height: 200px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado > p{
  border: 1px solid;
  height: fit-content;
  /* text-align: center; */
  /* line-height: 200px; */
}